
.skills {
    padding: 60px 40px;
    text-align: center;
  }
  
  .skills h3 {
    margin-bottom: 48px;
  }
  
  h3 span {
    color: #fa5252;
  }
  
  /* .skills-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 24px;
  } */
  
  .skills-images {
    position: relative;
  }
  
  .skills-images img {
    /* flex-basis: 20%; */
    width: 100%;
    height: 250px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
    /* object-fit: contain; */
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .skills-images p {
    font-size: 18px;
  }
  .skills-images p:not(last-child) {
    margin-bottom: 8px;
  }
  .skills-images p:last-child {
    color: #f03e3e;
  }
  
  .owl-dots {
    margin-top: 52px;
  }
  
  .owl-prev,
  .owl-next {
    font-size: 64px !important;
    position: absolute;
    color: #f03e3e !important;
  }
  
  .owl-prev {
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
  }
  .owl-next {
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
  }
  
  .owl-dot span {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 6px;
    background-color: gainsboro !important;
    display: inline-block;
  }
  
  .owl-dots .owl-dot.active span {
    background-color: #fa5252 !important;
  }